@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url(bookback4.jpg);
}

.heading {
    color: rgb(179, 171, 171);
    position: absolute;
    top: 50%;
    padding-left: 50px;
    text-align: center;
    font-size: 50px;
}

.banner p {
    top: 58%;
    padding-left: 56px;
    text-align: center;
    color: rgba(201, 186, 186, 0.815);
    position: absolute;
}


/*------------------------------- navigation bar --------------- */

nav {
    background-color: rgb(95, 159, 175);
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

nav ul div.items {
    padding: 0 20px;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    padding: 0 12px;
    font-size: 18px;
    color: #fff;
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 400px;
    line-height: 40px;
    text-align: center;
    background: rgb(187, 180, 180);
    border-radius: 0 5px 5px 0;
}

nav ul .search-icon .icon:hover {
    background: gray;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

nav ul .cart_icon {
    text-align: center;
    color: rgb(196, 190, 202);
    padding-right: 50px;
    font-size: 25px;
}


/*------------------------------- side bar menu--------------- */

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    margin-top: 60px;
    background: rgb(105, 100, 100);
    transform: translate(-251px);
    transition: 250ms ease-in-out;
}

#sidebarMenu li a:hover {
    background: rgb(95, 159, 175);
}

#openSidebarMenu:checked~#sidebarMenu {
    transform: translate(0px);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.sidebarIconToggle {
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
}

.spinner {
    height: 3px;
    background: #fff;
    transition: all 0.3s;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
    opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}


/*--------------------------books----------------*/

.list {
    margin-top: 50%;
}

.categories {
    margin: 70px 0;
}

.small-container {
    background: rgb(255, 255, 255);
    max-width: 100%;
    padding: 20px;
}

.small-container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.small-container ul li:hover {
    background: darkcyan;
    transition: 0.5s;
}

.small-container .categ-list {
    padding: 25px;
    width: 15%;
    border: 2px solid rgb(118, 118, 173);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    list-style: none;
}

.title {
    text-align: center;
    margin: 20px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 280px;
    height: 300px;
}

.h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}


/*------------------testimonial-------------------*/

.col-3 {
    flex-basis: 10%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 250px;
    padding: 10px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #df6446;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*---------------------------------payment--------------------*/

.brands {
    padding-right: 100px;
    padding-top: 40px;
    padding-left: 100px;
    background: white;
}

.col-5 img {
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
    padding: 10px;
}

.col-5 img:hover {
    filter: grayscale(0);
}


/* -------------------category detail-----------------------*/

.small-container2 {
    background: rgb(255, 255, 255);
    max-width: 100%;
    padding: 20px;
}

.small-container2 ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.small-container2 ul li {
    flex-basis: 15%;
    margin: 30px;
}

.small-container2 ul li a:hover {
    border-bottom: 2px solid rgb(179, 98, 23);
    transition: 0.1s;
}

.small-container2 .categ-list {
    padding: 25px;
    border: 2px solid rgb(118, 118, 173);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    list-style: none;
}

.small-container2 .title {
    text-align: center;
    margin-top: 50px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.small-container2 .title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}


/* end of category */


/*----------Cart item details-----------------*/

.cart-page {
    margin: 90px auto;
    background: white;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    background: rgb(211, 91, 11);
    border: 1px solid red;
    box-sizing: border-box;
    color: white;
}

.btn:hover {
    background: #b84030;
}

table {
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: darkcyan;
    font-weight: normal;
}

td {
    padding: 10px 10px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: darkcyan;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid darkcyan;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: : right;
}

th:last-child {
    text-align: : right;
}


/*end of cart detail*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    flex-basis: 25%;
}

.footer-col-2 h2 {
    text-align: center;
}

.footer-col-1 h3 {
    cursor: pointer;
}

.copyright {
    position: center;
    padding: 25px;
    margin-left: 70px;
}

.footer-col-3 ul,
.footer-col-4 ul {
    list-style-type: none;
    cursor: pointer;
}

.footer-col-3 ul li:hover,
.footer-col-4 ul li:hover {
    color: #fff;
}